.banner-principal-decorativo
  &-1
    animation: float1 3.5s ease-in-out infinite alternate
    position: absolute
    top: 50%
    right: 60%
  &-2
    animation: float2 2.8s ease-in-out infinite alternate
    position: absolute
    top: 75%
    right: 10%
  &-3
    animation: float1 2.8s ease-in-out infinite alternate
    position: absolute
    top: 11%
    right: 15%

@keyframes float1
  0%
    transform: translateY(20px)

  100%
    transform: translateY(0px)

@keyframes float2
  0%
    transform: translateX(20px)

  100%
    transform: translateX(0px)

.mn
  margin: 0 -3rem
.titulo-principal__numero
  i, span
    color: $color-sistema-texto !important
.tarjeta--morada
  background-color: #3a1d71
.acordion__activo
  background-color: #ead6fc
  .acordion__header

    h3
      color: $color-sistema-texto
.acordion__accion__btn--a
  background-color: $color-acento-botones
.titulo-tres-icon
  margin-bottom: 1rem
  position: relative
  display: inline-block
  border-radius: 8px
  background: rgb(119,55,240)
  background: linear-gradient(170deg, rgba(119,55,240,1) 0%, rgba(41,17,85,1) 100%)
  h3
    color: white
    margin-bottom: 0
    margin-left: 60px
    margin-right: 30px
  &:before
    content: url(../assets/curso/temas/icon.svg)
    position: absolute
    top: -10px


.lista-ul--color, .fa-ul
  margin-left: 0
  li
    display: flex !important
    align-items: start
    &:before
      position: relative
      margin-right: 7px
      font-size: 1.4rem

.lista-ul--color li > i:first-of-type 
  position: relative
  top: 0px
  margin-right: 7px
  vertical-align: top

.fa-ul li > i:first-of-type, 
  position: relative
  top: 7px
  margin-right: 7px
  vertical-align: top